* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "spartan", sans-serif;
}

body {
    background-image: url("wal4.png");
}

.amount {
    /* margin-top: 20px; */
    position: relative;
    color: #088178;
}
.newprice{
    /* display: inline-block; */
    font-size: 20px;
    color: green;
    padding: 10px;
    display: flex;
}
.amount::after {
    content: "";
    width: 110%;
    height: 1.5px;
    background: black;
    position: absolute;
    bottom: 9px;
    left: 0;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: greenyellow;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}


.section-p1 {
    border-radius: 20px;
    padding-top: 50px;
    /* background-color: rgba(255, 255, 255, 0.371); */
    /* margin:; */
}

.section-p1 p {
    color: black;
    font-size: larger;
}

h2.center {
    text-align: center;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}


/* HEADER SECTION */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #2b2a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo-container {
    width: 100px;
    height: auto;
}

.logo-container img {
    width: 150%;
    height: auto;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: aliceblue;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: greenyellow;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: greenyellow;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* TOP BANNER SECTION */

#zoro {
    background-image: url('Images/Banners/Roronoa Banner.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}



#zoro .d1 {

    font-size: 8vh;
    padding-top: 2vh;
    color: greenyellow;
}

#zoro .d2 {
    font-size: 9vh;
    color: #fff;
    padding-bottom: 2vh;
}

#zoro .d3 {
    color: #fff;
    font-size: 2vh;

}

#zoro button {

    color: black;
    border: 0;
    padding: 1vh;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 3vh;
    margin-top: 2.3vh;
}

#zoro button:hover {
    background-color: greenyellow;
    color: #fff;
}



#zoro button {
    color: black;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#zoro button:hover {
    background-color: greenyellow;
    color: #fff;
}

/* IMAGE SECTION */

.container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Define styles for the images */
.container img {
    width: auto;
    height: 100px;
    margin-right: 10px;
}


/* PRODUCT DISPLAY */

#Products {
    text-align: center;
}

#Products .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    margin: 10px;
}

#Products .pro {
    background-color: white;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#Products .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#Products .pro img {
    width: 100%;
    border-radius: 20px;
}

#Products .pro .about {
    text-align: left;
    padding: 10px 0;
}

#Products .pro .about span {
    color: #606063;
    font-size: 12px;
}

#Products .pro .about h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#Products .pro .about h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#Products .pro .shopping-cart-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 80px;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* BANNER */

#Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("Images/Banners/Banner.png");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#Banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#Banner h2 span {
    color: greenyellow;
}

#Banner button:hover {
    background: greenyellow;
    color: #fff;
}

/* Collections*/
#Collections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    background-color: #00000000;
}

#Collections .Collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/Collections/Naruto Collection.jpg");
    min-width: 580px;
    height: 45vh;
    background-size: contain;
    background-position: center;
    padding: 30px;
}

#Collections .Collection2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/Collections/One Piece Collections.jpg");
    min-width: 580px;
    height: 45vh;
    background-size: contain;
    background-position: center;
    padding: 30px;
}

#Collections h2 {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    padding: 10px 0;
    margin-left: 20%;
}

#Collections .Collection:hover button {
    background: greenyellow;
    border: 1px solid #000;
    color: #fff;
    transition: 0.2s ease;

}

#Collections2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#Collections2 h2 {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    padding: 10px 0;
}

#Collections2 .Collection3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/Collections/DBZ\ collection.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#Collections2 .Collection4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/Collections/Demon-Slayer Collection.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#Collections2 .Collection5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Images/Collections/JJK Collection (1).jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#Collections2 .Collection:hover button {
    background: greenyellow;
    border: 1px solid #000;
    color: #fff;
    transition: 0.2s ease;
}

/* SIGN UP */
#Updates {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("Images/Banners/Banner 1.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    height: 20vh;
    padding-left: 60px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Updates .form {
    margin-top: 20px;
    display: flex;
    width: 100%;
}

#Updates input {
    height: 3.125rem;
    font-size: 0 1.25em;
    padding: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#Updates button {
    background-color: greenyellow;
    color: #fff;
    white-space: nowrap;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#Updates h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#Updates p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

/* FOOTER */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .Follow i:hover,
footer a:hover {
    color: greenyellow;
}

footer .Copyright {
    width: 100%;
    text-align: center;
}

/* SHOP */
#ShopBanner {
    background-image: url('Images/Banners/Shop\ Banner.jpg');
    height: 30vmax;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ShopBanner h1 {
    color: greenyellow;
}

#ShopBanner p {
    color: #fff;
}

#Pagination {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#Pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#Pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Single Product Banner*/

#SBanner {
    margin-top: 20px;
    background-image: url('Images/Banners/SBanner1.jpg');
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#SBanner h2 {
    color: #fff;
}

#SBanner span {
    color: greenyellow;
}

#Prodetails {
    display: flex;
    margin-top: 50px;
}

/* Single Product Details*/
#Prodetails .single-pro-img {
    width: 40%;
    margin-right: 50px;
}

.sub-img-group {
    display: flex;
    justify-content: space-between;
}

.sub-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#Prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#Prodetails .single-pro-details input:focus {
    outline: none;
}

#Prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#Prodetails .single-pro-details h2 {
    font-size: 26px;
}

#Prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#Prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#Prodetails .single-pro-details button {
    background: whitesmoke;
    color: greenyellow;
    white-space: nowrap;
    border: 1px solid #000;
}

#Prodetails .single-pro-details button:hover {
    background: greenyellow;
    color: #fff;
}

#Prodetails .col1 {
    line-height: 10px;
}

/* MEDIA QUERY*/

@media (max-width: 360px) {


    .auto-slider {
        border: 2px solid black;
        position: relative;
        box-sizing: border-box;
        /* Changed from content-box to border-box */
        display: block;
        /* Changed from inline-block to block */
        padding: 0;
        /* Removed padding */
        background-color: white;
        /* Combined background properties */
        /* box-shadow: 0px 0px 20px rgb(25, 0, 255),
      1px 1px 6px rgba(0, 0, 0, 0.4); */
        /* Combined box-shadow properties */
        /* max-width: 100%; */
        max-height: 20vh;
        /* Changed to 100% */
        /* min-width: 100%; */
        /* Changed to 100% */
        min-height: 200px;
        /* Set a minimum height for the slider */
        overflow: hidden;
    }


    /* @keyframes sliding {
    0% {
      left: 0%;
    }
  
    20% {
      left: -100%;
    }
  
    40% {
      left: -200%;
    }
  
    60% {
      left: -300%;
    }
  
    80% {
      left: -400%;
    }
  
    100% {
      left: 0%;
    }
  }
  
  @keyframes indicating {
    from {
      left: -100%;
    }
  
    to {
      left: 0;
    }
  } */


    div#slider {
        overflow: hidden;
    }

    div#slider figure img {
        /* width: 13%; */
        margin-top: 2%;
        width: 20%;
        float: left;
    }

    div#slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 15s sliding ease infinite;
    }

    /* Slider indicator */
    .indicator {
        width: 100%;
        max-width: 100%;
        height: 6px;
        background: #e41b17;
        position: absolute;
        bottom: 0;

        animation: indicating 6s ease;

    }

    /* .auto-slider{
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 0% 10px 20px;
    background: #ffffff00;
    max-width: 720px;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 4px; */
    /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);  */

    /* } */
    /* .indicator {
    width: 100%;
    max-width: 100%;
    height: 6px;
    background: #e41b17;
    position: absolute;
    bottom: 0;
  
    animation: indicating 5s ease infinite; */

    /* } */

    @keyframes sliding {
        0% {
            /* left: 0%; */
        }

        20% {
            left: -100%;
        }

        40% {
            left: -200%;
        }

        60% {
            left: -300%;
        }

        80% {
            /* left: -400%; */
        }

        100% {
            /* left: 0%; */
        }
    }

    @keyframes indicating {
        from {
            left: -100%;
        }

        to {
            left: 0;
        }
    }


    .section-p2 {

        color: white;
        background-color: rgba(100, 114, 206, 0.371);
        padding: 20px;
        /* background-color: rgb(78, 74, 74); */
    }

    h1 {
        font-size: 50px;
        line-height: 64px;
        color: #222;
    }

    .f1 {
        /* margin-left: -10%; */
        padding: 0%;
        margin: 0%;
        font-size: 50px;
        /* font-size:larger; */
        /* line-height: 1vw; */
        color: rgb(192, 251, 75);
    }

    h4 {
        font-size: 20px;
        color: #222;
    }

    h6 {
        font-weight: 700;
        font-size: 12px;
    }

    p {
        font-size: 16px;
        color: #465b52;
        margin: 15px 0 20px 0;
    }


    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 1vw;

        background: #2b2a2a;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
    }

    .logo-container {
        width: 10%;
        height: auto;
    }


    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navbar li {
        list-style: none;
        padding: 0 2vw;
        position: relative;
    }

    #navbar li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: aliceblue;
        transition: 0.3s ease;
    }

    #navbar li a:hover,
    #navbar li a.active {
        color: greenyellow;
    }

    #navbar li a.active::after,
    #navbar li a:hover::after {
        content: "";
        width: 30%;
        height: 2px;
        background: greenyellow;
        position: absolute;
        bottom: -4px;
        left: 20px;
    }



    #zoro {
        background-image: url('Images/Banners/Roronoa Banner.jpg');
        height: 100%;
        background-size: 100vw 25vmax;
        background-repeat: no-repeat;
        background-position: top center;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
    }


    #zoro .d1 {

        font-size: 3vh;
        padding-top: 2vh;
        color: greenyellow;
    }

    #zoro .d2 {
        font-size: 3vh;
        color: #fff;
        padding-bottom: 2vh;
    }

    #zoro .d3 {
        color: #fff;
        font-size: 2vh;

    }

    #zoro button {

        color: black;
        border: 0;
        padding: 1vh;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 3vh;
        margin-top: 2.3vh;
    }

    #zoro button:hover {
        background-color: greenyellow;
        color: #fff;
    }

    /* PRODUCT DISPLAY */

    #Products {
        text-align: center;
    }

    #Products .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
        margin: 10vw;
    }

    #Products .pro {
        background-color: white;
        width: 23%;
        min-width: 99.5%;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }

    #Products .pro:hover {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    }

    #Products .pro img {
        width: 100%;
        border-radius: 20px;
    }

    #Products .pro .about {
        text-align: left;
        padding: 10px 0;
    }

    #Products .pro .about span {
        color: #606063;
        font-size: 12px;
    }

    #Products .pro .about h5 {
        padding-top: 7px;
        color: #1a1a1a;
        font-size: 14px;
    }

    #Products .pro .about h4 {
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: #088178;
    }

    #Products .pro .shopping-cart-icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 80px;
        color: #088178;
        border: 1px solid #cce7d0;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }

    .section-p1 {
        border: 2px solid white;
        margin: 40px 8px;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.371);
    }


    /* Collections*/
    #Collections {
        /* padding-left: ; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #Collections .Collection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/Naruto Collection.jpg");
        background-repeat: no-repeat;
        min-width: 99.9%;
        height: 45vh;
        background-size: contain;
        background-position: center;
        padding: 30px;
    }

    #Collections .Collection2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/One Piece Collections.jpg");
        background-repeat: no-repeat;
        min-width: 99.9%;
        height: 45vh;
        background-size: contain;
        background-position: center;
        padding: 30px;
    }

    #Collections h2 {
        color: #fff;
        font-weight: 600;
        font-size: 40px;
        padding: 10px 0;
    }

    #Collections .Collection:hover button {
        background: greenyellow;
        border: 1px solid #000;
        color: #fff;
        transition: 0.2s ease;
    }

    #Collections2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1px;
    }

    #Collections2 h2 {
        color: #fff;
        font-weight: 600;
        font-size: 40px;
        padding: 10px 0;
    }

    #Collections2 .Collection3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/DBZ\ collection.jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #Collections2 .Collection4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/Demon-Slayer Collection.jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #Collections2 .Collection5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/JJK Collection (1).jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #Collections2 .Collection:hover button {
        background: greenyellow;
        border: 1px solid #000;
        color: #fff;
        transition: 0.2s ease;
    }

    button.white {
        font-size: 2vh;
        /* font-weight: 600; */
        padding: 1vh;
        color: greenyellow;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        transition: 0.2s;
    }


}

@media (min-width: 361px) and (max-width: 800px) {


    .f1 {
        /* margin-left: -10%; */
        padding: 0%;
        margin: 0%;
        font-size: 50px;
        /* font-size:larger; */
        /* line-height: 1vw; */
        color: rgb(192, 251, 75);
    }

    .auto-slider {
        border: 2px solid black;
        position: relative;
        box-sizing: border-box;
        /* Changed from content-box to border-box */
        display: block;
        /* Changed from inline-block to block */
        padding: 0;
        /* Removed padding */
        background-color: white;
        /* Combined background properties */
        /* box-shadow: 0px 0px 20px rgb(25, 0, 255),
      1px 1px 6px rgba(0, 0, 0, 0.4); */
        /* Combined box-shadow properties */
        /* max-width: 100%; */
        max-height: 20vh;
        /* Changed to 100% */
        /* min-width: 100%; */
        /* Changed to 100% */
        min-height: 200px;
        /* Set a minimum height for the slider */
        overflow: hidden;
    }


    /* @keyframes sliding {
    0% {
      left: 0%;
    }
  
    20% {
      left: -100%;
    }
  
    40% {
      left: -200%;
    }
  
    60% {
      left: -300%;
    }
  
    80% {
      left: -400%;
    }
  
    100% {
      left: 0%;
    }
  }
  
  @keyframes indicating {
    from {
      left: -100%;
    }
  
    to {
      left: 0;
    }
  } */


    div#slider {
        overflow: hidden;
    }

    div#slider figure img {
        /* width: 13%; */
        /* margin-top: ; */
        max-width: 115vmin;
        max-height: 28vh;
        float: left;
    }

    div#slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 15s sliding ease infinite;
    }

    /* Slider indicator */
    .indicator {
        width: 100%;
        max-width: 100%;
        height: 6px;
        background: #e41b17;
        position: absolute;
        bottom: 0;

        animation: indicating 6s ease;

    }

    /* .auto-slider{
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 0% 10px 20px;
    background: #ffffff00;
    max-width: 720px;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 4px; */
    /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);  */

    /* } */
    /* .indicator {
    width: 100%;
    max-width: 100%;
    height: 6px;
    background: #e41b17;
    position: absolute;
    bottom: 0;
  
    animation: indicating 5s ease infinite; */

    /* } */

    @keyframes sliding {
        0% {
            /* left: 0%; */
        }

        20% {
            left: -100%;
        }

        40% {
            left: -200%;
        }

        60% {
            left: -300%;
        }

        80% {
            /* left: -400%; */
        }

        100% {
            /* left: 0%; */
        }
    }

    @keyframes indicating {
        from {
            left: -100%;
        }

        to {
            left: 0;
        }
    }


    .section-p2 {

        color: white;
        background-color: rgba(100, 114, 206, 0.371);
        padding: 20px;
        /* background-color: rgb(78, 74, 74); */
    }

    h1 {
        font-size: 50px;
        line-height: 64px;
        color: #222;
    }

    .f1 {
        /* margin-left: -10%; */
        padding: 0%;
        margin: 0%;
        font-size: 50px;
        /* font-size:larger; */
        /* line-height: 1vw; */
        color: rgb(192, 251, 75);
    }

    h4 {
        font-size: 20px;
        color: #222;
    }

    h6 {
        font-weight: 700;
        font-size: 12px;
    }

    p {
        font-size: 16px;
        color: #465b52;
        margin: 15px 0 20px 0;
    }


    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 1vw;

        background: #2b2a2a;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
    }

    .logo-container {
        width: 10%;
        height: auto;
    }


    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navbar li {
        list-style: none;
        padding: 0 2vw;
        position: relative;
    }

    #navbar li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: aliceblue;
        transition: 0.3s ease;
    }

    #navbar li a:hover,
    #navbar li a.active {
        color: greenyellow;
    }

    #navbar li a.active::after,
    #navbar li a:hover::after {
        content: "";
        width: 30%;
        height: 2px;
        background: greenyellow;
        position: absolute;
        bottom: -4px;
        left: 20px;
    }



    #zoro {
        background-image: url('Images/Banners/Roronoa Banner.jpg');
        height: 100%;
        background-size: 100vw 25vmax;
        background-repeat: no-repeat;
        background-position: top center;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
    }


    #zoro .d1 {

        font-size: 3vh;
        padding-top: 2vh;
        color: greenyellow;
    }

    #zoro .d2 {
        font-size: 3vh;
        color: #fff;
        padding-bottom: 2vh;
    }

    #zoro .d3 {
        color: #fff;
        font-size: 2vh;

    }

    #zoro button {

        color: black;
        border: 0;
        padding: 1vh;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 3vh;
        margin-top: 2.3vh;
    }

    #zoro button:hover {
        background-color: greenyellow;
        color: #fff;
    }

    /* PRODUCT DISPLAY */

    #Products {
        text-align: center;
    }

    #Products .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
        margin: 10vw;
    }

    #Products .pro {
        background-color: white;
        width: 23%;
        /* min-width: 99.5%; */
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }

    #Products .pro:hover {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    }

    #Products .pro img {
        width: 100%;
        border-radius: 20px;
    }

    #Products .pro .about {
        text-align: left;
        padding: 10px 0;
    }

    #Products .pro .about span {
        color: #606063;
        font-size: 12px;
    }

    #Products .pro .about h5 {
        padding-top: 7px;
        color: #1a1a1a;
        font-size: 14px;
    }

    #Products .pro .about h4 {
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: #088178;
    }

    #Products .pro .shopping-cart-icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 80px;
        color: #088178;
        border: 1px solid #cce7d0;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }

    .section-p1 {
        border: 2px solid white;
        margin: 40px 8px;
        margin-top: 10px;
    }


    /* Collections*/
    #Collections {

        /* padding-left: ; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    #Collections .Collection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/Naruto Collection.jpg");
        background-repeat: no-repeat;
        min-width: 99.9%;
        height: 45vh;
        background-size: contain;
        background-position: center;
        padding: 30px;
    }

    #Collections .Collection2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/One Piece Collections.jpg");
        background-repeat: no-repeat;
        min-width: 99.9%;

        height: 50vh;
        background-size: contain;
        background-position: center;
        padding: 30px;
    }

    #Collections h2 {
        color: #fff;
        font-weight: 600;
        font-size: 40px;
        padding: 10px 0;
    }

    #Collections .Collection:hover button {
        background: greenyellow;
        border: 1px solid #000;
        color: #fff;
        transition: 0.2s ease;
    }

    #Collections2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1px;
    }

    #Collections2 h2 {
        color: #fff;
        font-weight: 600;
        font-size: 40px;
        padding: 10px 0;
    }

    #Collections2 .Collection3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/DBZ\ collection.jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #Collections2 .Collection4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/Demon-Slayer Collection.jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #Collections2 .Collection5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/JJK Collection (1).jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #Collections2 .Collection:hover button {
        background: greenyellow;
        border: 1px solid #000;
        color: #fff;
        transition: 0.2s ease;
    }

    button.white {
        font-size: 2vh;
        /* font-weight: 600; */
        padding: 1vh;
        color: greenyellow;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        transition: 0.2s;

    }


}

@media (min-width: 801px) {

    .f1 {
        /* margin-left: -10%; */
        padding: 0%;
        margin: 0%;
        font-size: 50px;
        /* font-size:larger; */
        /* line-height: 1vw; */
        color: rgb(192, 251, 75);
    }


    .auto-slider {
        border: 2px solid black;
        position: relative;
        box-sizing: border-box;
        /* Changed from content-box to border-box */
        display: block;
        /* Changed from inline-block to block */
        padding: 0;
        /* Removed padding */
        background-color: white;
        /* Combined background properties */
        /* box-shadow: 0px 0px 20px rgb(25, 0, 255),
      1px 1px 6px rgba(0, 0, 0, 0.4); */
        /* Combined box-shadow properties */
        /* max-width: 100%; */
        max-height: 20vh;
        /* Changed to 100% */
        /* min-width: 100%; */
        /* Changed to 100% */
        min-height: 200px;
        /* Set a minimum height for the slider */
        overflow: hidden;
    }


    /* @keyframes sliding {
    0% {
      left: 0%;
    }
  
    20% {
      left: -100%;
    }
  
    40% {
      left: -200%;
    }
  
    60% {
      left: -300%;
    }
  
    80% {
      left: -400%;
    }
  
    100% {
      left: 0%;
    }
  }
  
  @keyframes indicating {
    from {
      left: -100%;
    }
  
    to {
      left: 0;
    }
  } */


    div#slider {
        overflow: hidden;
    }

    div#slider figure img {
        /* width: 13%; */
        /* margin-top: ; */
        max-width: 115vmin;
        max-height: 28vh;
        float: left;
    }

    div#slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 15s sliding ease infinite;
    }

    /* Slider indicator */
    .indicator {
        width: 100%;
        max-width: 100%;
        height: 6px;
        background: #e41b17;
        position: absolute;
        bottom: 0;

        animation: indicating 6s ease;

    }

    /* .auto-slider{
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    padding: 0% 10px 20px;
    background: #ffffff00;
    max-width: 720px;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 4px; */
    /* box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);  */

    /* } */
    /* .indicator {
    width: 100%;
    max-width: 100%;
    height: 6px;
    background: #e41b17;
    position: absolute;
    bottom: 0;
  
    animation: indicating 5s ease infinite; */

    /* } */

    @keyframes sliding {
        0% {
            /* left: 0%; */
        }

        20% {
            left: -100%;
        }

        40% {
            /* left: -200%; */
        }

        60% {
            /* left: -300%; */
        }

        80% {
            /* left: -400%; */
        }

        100% {
            /* left: 0%; */
        }
    }

    @keyframes indicating {
        from {
            left: -100%;
        }

        to {
            left: 0;
        }
    }


    .section-p2 {

        color: white;
        background-color: rgba(255, 255, 255, 0.684);
        padding: 20px;
        /* background-color: rgb(78, 74, 74); */
    }

    /* h1 {
        font-size: 50px;
        line-height: 64px;
        color: #222;
    }

     */
    /* margin-left: -10%; */
    /* padding: 0%;
        margin: 0%;
        font-size: 50px; */
    /* font-size:larger; */
    /* line-height: 1vw; */
    /* color: #222;
    }

    h4 {
        font-size: 20px;
        color: #222;
    }

    h6 {
        font-weight: 700;
        font-size: 12px;
    }

    p {
        font-size: 16px;
        color: #465b52;
        margin: 15px 0 20px 0;
    }


    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 1vw;

        background: #2b2a2a;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
        z-index: 999;
        position: sticky;
        top: 0;
        left: 0;
    }

    .logo-container {
        width: 10%;
        height: auto;
    }


    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navbar li {
        list-style: none;
        padding: 0 2vw;
        position: relative;
    }

    #navbar li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: aliceblue;
        transition: 0.3s ease;
    }

    #navbar li a:hover,
    #navbar li a.active {
        color: greenyellow;
    }

    #navbar li a.active::after,
    #navbar li a:hover::after {
        content: "";
        width: 30%;
        height: 2px;
        background: greenyellow;
        position: absolute;
        bottom: -4px;
        left: 20px;
    }



    #zoro {
        background-image: url('Images/Banners/Roronoa Banner.jpg');
        height: 100%;
        background-size: 100vw 25vmax;
        background-repeat: no-repeat;
        background-position: top center;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
    }


    #zoro .d1 {

        font-size: 3vh;
        padding-top: 2vh;
        color: greenyellow;
    }

    #zoro .d2 {
        font-size: 3vh;
        color: #fff;
        padding-bottom: 2vh;
    }

    #zoro .d3 {
        color: #fff;
        font-size: 2vh;

    }

    #zoro button {

        color: black;
        border: 0;
        padding: 1vh;
        background-repeat: no-repeat;
        cursor: pointer;
        font-weight: 700;
        font-size: 3vh;
        margin-top: 2.3vh;
    }

    #zoro button:hover {
        background-color: greenyellow;
        color: #fff;
    } */

    /* PRODUCT DISPLAY */

    /* #Products {
        text-align: center;
    }

    #Products .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
        margin: 10vw;
    }

    #Products .pro {
        background-color: white;
        width: 23%; */
    /* min-width: 99.5%; */
    /* padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }

    #Products .pro:hover {
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    }

    #Products .pro img {
        width: 100%;
        border-radius: 20px;
    }

    #Products .pro .about {
        text-align: left;
        padding: 10px 0;
    }

    #Products .pro .about span {
        color: #606063;
        font-size: 12px;
    }

    #Products .pro .about h5 {
        padding-top: 7px;
        color: #1a1a1a;
        font-size: 14px;
    }

    #Products .pro .about h4 {
        padding-top: 7px;
        font-size: 15px;
        font-weight: 700;
        color: #088178;
    }

    #Products .pro .shopping-cart-icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 80px;
        color: #088178;
        border: 1px solid #cce7d0;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }

    .section-p1 {
        border: 2px solid white;
        margin: 40px 8px;
        margin-top: 10px;
    } */


    /* Collections*/
    /* #Collections { */

    /* padding-left: ; */
    /* display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    #Collections .Collection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/Naruto Collection.jpg");
        background-repeat: no-repeat;
        min-width: 99.9%;
        height: 45vh;
        background-size: contain;
        background-position: center;
        padding: 30px;
    }

    #Collections .Collection2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/One Piece Collections.jpg");
        background-repeat: no-repeat;
        min-width: 99.9%;

        height: 50vh;
        background-size: contain;
        background-position: center;
        padding: 30px;
    }

    #Collections h2 {
        color: #fff;
        font-weight: 600;
        font-size: 40px;
        padding: 10px 0;
    }

    #Collections .Collection:hover button {
        background: greenyellow;
        border: 1px solid #000;
        color: #fff;
        transition: 0.2s ease;
    }

    #Collections2 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1px;
    }

    #Collections2 h2 {
        color: #fff;
        font-weight: 600;
        font-size: 40px;
        padding: 10px 0;
    }

    #Collections2 .Collection3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/DBZ\ collection.jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #Collections2 .Collection4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/Demon-Slayer Collection.jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #Collections2 .Collection5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("Images/Collections/JJK Collection (1).jpg");
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #Collections2 .Collection:hover button {
        background: greenyellow;
        border: 1px solid #000;
        color: #fff;
        transition: 0.2s ease;
    }

    button.white {
        font-size: 2vh; */
    /* font-weight: 600; */
    /* padding: 1vh;
        color: greenyellow;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
        outline: none;
        transition: 0.2s;
        margin-left: 20%;
    }  */
}
